<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
   
</head>
<body>
    <div id="app"> 
        <p>{{title}}</p>
        <p>{{gettitle}}</p>

        <button @click="count++">{{ count }}</button>

        <button v-on:click="increment">increment</button>
        <button v-on:click="decrement">Decrement</button>



        <form @submit.prevent="fromsubmitted">
            <h3>Enter your name</h3>
            <input type="text" v-model="name" />
            <p> welcome {{name}} !</p>

            <h3>Enter your Mobile Number</h3>
            <input type="text" v-model="mobile" />
             <p> welcome {{mobile}} !</p>


             
            <button type="submit">OK</button>
        </form>
        <hr>
    </div>

    <script src="app.js"></script>
</body>
</html>